.button {
  display: inline-block;
  color: var(--basik-white);
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basik-green);

  &--silver {
    color: var(--basik-grey);
    background-color: var(--basik-light-grey);
  }
}
