.contacts {
  padding: 28px 19px;
  &__dealers-text {
    width: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basik-tru-black);
    margin: 0;
  }
  &__address-text {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--basik-grey);
  }
}
