.contacts {
  padding: 29px 24px 25px 20px;

  @media (min-width: @tablet-width) {
    padding: 29px 0 57px 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 201px;
    padding: 58px 89px 51px 76px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 4;
    box-sizing: border-box;
    background-color: var(--basik-white);
  }

  &--form {
    background-color: var(--basik-light-grey);

    @media (min-width: @tablet-width) {
      padding: 62px 0 57px 0;
    }

    @media (min-width: @desktop-width) {
      background-color: var(--basik-white);
      padding: 63px 89px 57px 76px;
    }
  }
}

.contacts__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 100%;
  }
}

.contacts__dealers-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basik-tru-black);
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    margin-top: 2px;
  }
}

.contacts__address-text {
  font-family: @font-arial;
  font-style: normal;
  line-height: 20px;
  color: var(--basik-grey);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }

  & p {
    margin: 0 2px 0 0;

    @media (min-width: @tablet-width) {
      margin: 20px 2px 0 0;
    }
  }
}
