.description {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 71px;
  }
}

.description__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 1220px;
  }
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 27px 0 38px 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 72px 0;
  }
}

.description__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: num;
  }
}

.description__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: @tablet-width) {
    width: 45%;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 130px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 20%;
  }


  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: var(--basik-green);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--sheet {
    &::before {
      background-image: url("../img/icons/icon-sheet.svg");
    }
  }

  &--water {
    &::before {
      background-image: url("../img/icons/icon-water.svg");
    }
  }

  &--cutlery {
    &::before {
      background-image: url("../img/icons/icon-cutlery.svg");
    }
  }

  &--time {
    &::before {
      background-image: url("../img/icons/icon-time.svg");
    }
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      top: -30px;
      right: 15%;
      color: var(--basik-light-grey);
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      z-index: -1;

      @media (min-width: @desktop-width) {
        right: 3%;
      }
    }
  }
}

.description__item-text {
  font-family: @font-arial;
  color: var(--basik-grey);

  @media (min-width: @tablet-width) {
    padding-top: 91px;
    margin: 0;
  }
}
