.description {
  margin-bottom: 42px;
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 27px 0 38px 20px;
  padding: 0;
}

.description__list {
  .clear-list();
}

.description__item {
  position: relative;
  margin-left: 100px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: var(--basik-green);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -80px;
  }

  &--sheet {
    &::before {
      background-image: url("../img/icons/icon-sheet.svg");
    }
  }

  &--water {
    &::before {
      background-image: url("../img/icons/icon-water.svg");
    }
  }

  &--cutlery {
    &::before {
      background-image: url("../img/icons/icon-cutlery.svg");
    }
  }

  &--time {
    &::before {
      background-image: url("../img/icons/icon-time.svg");
    }
  }
}

.description__item-text {
  font-family: @font-arial;
  color: var(--basik-grey);
}
