.field-text {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basik-grey);
}

.field-text__content {
  margin: 0 15px 0 0;
}

.field-text__input {
  flex: 1 1 auto;
  width: 1px;
  font-family: @font-oswald-arial;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basik-grey);
  border: 1px solid var(--basik-light-black);
  padding: 13px 40px 14px 15px;
  margin-bottom: 13px;
  background-repeat: no-repeat;

  &--email {
    background-image: url("../img/icons/icon-email.svg");
    background-position: 95% 50%;
  }

  &--phone {
    background-image: url("../img/icons/icon-phone.svg");
    background-position: 95% 50%;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basik-grey);
  }
}

@media (min-width: @tablet-width) {
  .field-text {
    font-size: 20px;
    line-height: 30px;

    &:last-child .field-text__input {
      margin-bottom: 0;
    }
  }

  .field-text__input {
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
