.live-example {
  background-color: var(--basik-special-grey);
  padding: 27px 0 31px 0;
}

.live-example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 33px;
}

.live-example__text {
  margin-bottom: 26px;
  font-family: @font-arial;
  color: var(--basik-grey);
}

.live-example__price-text {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .live-example {
    background-color: var(--basik-white);
  }

  .live-example__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .live-example__more-wrapper {
    width: 100%;
    padding: 0;
  }

  .live-example__container {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .live-example__title-container {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .live-example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__price-text {
    font-size: 20px;
    width: 174px;
    text-align: end;
  }
}

@media (min-width: @desktop-width) {
  .live-example__wrapper {
    width: 1220px;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }

  .live-example__title-wrapper {
    background-color: var(--basik-white);
  }

  .live-example {
    background-image: linear-gradient(to right, var(--basik-light-grey) 71.8%, var(--basik-special-grey) 71.8%);
    padding: 0;
  }

  .live-example__price-text {
    font-size: 20px;
    width: 100%;
    text-align: start;
    margin: 0;
  }

  .live-example__text {
    width: 436px;
  }

  .live-example__slider {
    position: relative;

    &::before {
      content: "";
      width: 750px;
      height: 100%;
      position: absolute;
      right: -100px;
      top: 0;
      background-image: linear-gradient(to right, var(--basik-light-grey) 50%, var(--basik-special-grey) 50%);
      z-index: 1;
    }
  }
}
