.live-example-stat__item {
  border: 1px solid var(--basik-dark-grey);
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 18px;
  position: relative;
  margin-bottom: 26px;
}

.live-example-stat__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.live-example-stat__description {
  font-family: @font-arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--basik-grey);
  margin: 0;
  width: 77px;
  padding: 0 5px;
  position: absolute;
  top: 50px;
  left: 30%;
  background-color: var(--basik-special-grey);
}
