.main-nav {
  position: relative;
}

.main-nav__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid var(--basik-light-dark);

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    border: none;
    margin-right: 35px;

    &--active {
      border-bottom: 2px solid var(--basik-green);

      @media (min-width: @desktop-width) {
        border-bottom: 2px solid var(--basik-white);
      }
    }
  }
}

.main-nav__item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--basik-black);
  text-transform: uppercase;
  padding: 20px 0;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 8px 0;
    color: var(--basik-white);
  }
}

.main-nav__toggle {
  background-image: url("../img/icons/icon-close.svg");
  background-color: var(--basik-white);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: -30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
