.main-nav {
  position: relative;

  &--closed &__toggle::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: var(--basik-black);
    box-shadow: 0 8px 0 0 var(--basik-black), 0 16px 0 0 var(--basik-black);
  }

  &--closed &__item {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  &--opened &__toggle::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 20px;
    background-image: url("../../img/icons/icon-close.svg");
    background-repeat: no-repeat;
  }
}


.main-nav__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid var(--basik-light-dark);

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    border: none;
    margin-right: 35px;

    &--active {
      border-bottom: 2px solid var(--basik-green);

      @media (min-width: @desktop-width) {
        border-bottom: 2px solid var(--basik-white);
      }
    }

    &--form-active {
      @media (min-width: @desktop-width) {
        border-bottom: 2px solid var(--basik-green);
      }
    }
  }
}

.main-nav__item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--basik-black);
  text-transform: uppercase;
  padding: 20px 0;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 8px 0;
    color: var(--basik-white);
  }

  &--form {
    @media (min-width: @desktop-width) {
      color: var(--basik-black);
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  background-color: var(--basik-white);
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: -30px;
  width: 24px;
  height: 24px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
