.order {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 86px;
  }
}

.order__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 1220px;
  }
}

.order__title {
  margin-top: 0;
  margin-bottom: 37px;
}

.order__text {
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.order__form {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 569px 1fr;
    grid-column-gap: 80px;
  }
}

.order__cat-data {
  .fieldset-clear;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--basik-light-black);

  @media (min-width: @tablet-width) {
    border: none;
    margin-bottom: 72px;
  }
}

.order__goal {
  padding: 20px 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--basik-light-black);

  @media (min-width: @tablet-width) {
    padding: 30px;
    border: 1px solid var(--basik-light-black);
    margin-bottom: 71px;
  }
}

.order__subtitle {
  .title-form;
  position: relative;
  background-color: var(--basik-white);
  margin-bottom: 35px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 20px;
    margin-bottom: 76px;
    padding: 0 20px;
  }
}

.order__contacts-title {
  width: 181px;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.order__line-green {
  .fieldset-clear;
  .line-green;
  position: relative;


  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.order__contacts {
  margin-top: 26px;
}

.order__comment {
  padding-bottom: 23px;
}

.order__comment-letter {
  display: flex;
  position: relative;
}

.order__comment-textarea {
  font-family: @font-oswald-arial;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basik-grey);
  border: 1px solid var(--basik-light-black);
  padding: 9px 0 0 15px;
  flex: 1 1 auto;

  @media (min-width: @tablet-width) {
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.order__more {
  margin-bottom: 20px;
}

.order__form-submit {
  font-family: @font-oswald-arial;
  border: none;
  outline: none;
  padding: 7px 44px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-right: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 188px;
  }
}

.order__form-required {
  font-family: @font-arial;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.order__submit-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
