.page-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--basik-light-dark);

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    background-image: linear-gradient(to right, var(--basik-white) 50%, var(--basik-transparent-green) 50%);
  }

  &--form {
    @media (min-width: @desktop-width) {
      background-image: none;
    }
  }
}

.page-header__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.page-header__logo {
  width: 175px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 175px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
