@page-header: page-header;

.@{page-header} {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 0;
    margin-bottom: 82px;
    background-image: linear-gradient(to right, var(--basik-white) 50%, var(--basik-transparent-green) 50%);
  }

  &--form {
    @media (min-width: @desktop-width) {
      background-image: none;
      margin-bottom: 73px;
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      padding-top: 24px;
      margin-bottom: 62px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 53px;
      margin-bottom: 72px;
    }
  }
}

.@{page-header}__wrapper {
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px 0 110px;
    width: 1220px;
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      padding: 0 110px;
    }
  }
}

.@{page-header}__logo {
  width: 175px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 175px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.@{page-header}__image {
  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.@{page-header}__promo-cat {
  @media (min-width: @desktop-width) {
    background-image: url("../img/promo-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-cat-desktop@2x.jpg");
  }
}
