.products-more {
  position: relative;
  .line-green;

  &::before {
    top: 16px;

    @media (min-width: @tablet-width) {
      top: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 86px;
  }
}

.products-more__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
    margin: 0 auto;
    width: 1300px;
  }
}

.products-more__joint-wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
  }

  &::before {
    top: 23px;
  }
}

.products-more__title {
  display: inline-block;
  margin: 0 0 35px 20px;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 80px;
    padding: 0 37px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 40px;
  }
}

.products-more__list {
  list-style-type: none;
  margin: 0 0 39px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 1px solid var(--basik-dark-grey);
    padding: 0;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    width: 895px;
    margin-right: 81px;
    margin-bottom: 0;
  }
}

.products-more__line-green {
  .fieldset-clear;
  .line-green;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
    top: 22px;
  }
}

.products-more__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--basik-dark-grey);
  padding: 12px 0 18px 0;

  @media (min-width: @tablet-width) {
    padding: 24px 36px 29px 37px;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 0 17px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  &:last-child {
    border-bottom: 1px solid var(--basik-dark-grey);
    padding-bottom: 18px;

    @media (min-width: @tablet-width) {
      padding-bottom: 27px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 16px;
    }
  }
}

.products-more__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 611px;
    margin-right: 39px;
    margin-bottom: 0;
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 8px;
    }
  }
}

.products-more__item-option {
  padding: 0;
}

.products-more__item-value {
  .table-string-end;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 48.5px;
  }

  &--water {
    @media (min-width: @tablet-width) {
      padding-left: 57px;
    }
  }
}

.products-more__item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--basik-neitral-black);
  margin: 0 0 13px 1px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 10px 0 0 0;
  }
}

.products-more__item-table {
  font-family: @font-arial;
  font-weight: 400;
  line-height: 14px;
  color: var(--basik-grey);
  margin-bottom: 15px;
  width: 100%;
  border-spacing: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: auto;
    margin-top: 3px;
    margin-right: 2px;
  }

  @media (min-width: @desktop-width) {
    width: 287px;
    margin: 14px 0 0 0;
  }

  &--50 {
    @media (min-width: @desktop-width) {
      width: 278px;
      margin: 14px 9px 0 0;
    }
  }
}

.products-more__item-button {
  padding: 11px 109px;
  letter-spacing: 1.2px;

  @media (min-width: @tablet-width) {
    padding: 9px 109px;
    font-size: 16px;
    letter-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 91px;
  }
}
