.products-all {
  padding-top: 25px;
  background-image: url("../img/icons/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 25px;
  border-bottom: 1px solid var(--basik-special-darkgrey);

  @media (min-width: @tablet-width) {
    padding-top: 0;
    border: 2px solid var(--basik-light-grey);
    background-size: 60px;
    background-position: 130px 53px;
  }

  @media (min-width: @desktop-width) {
    background-position: 90px 50px;
  }
}

.products-all__wrapper {
  text-align: center;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 161px 35px 38px 36px;
  }
}

.products-all__title {
  width: auto;
  margin: 54px 0 9px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 25px 0;
    width: 174px;
    line-height: 22px;
  }
}

.products-all__text {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--basik-grey);
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 86px;
    width: 200px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
  }
}

.products-all__button {
  display: block;
  padding: 10px 94px;
  margin-bottom: 25px;
  letter-spacing: 1.05px;

  @media (min-width: @tablet-width) {
    padding: 9.5px 79px;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}
