.products-more {
  padding-top: 25px;
  position: relative;
  .line-green;

  &::before {
    top: 40px;

    @media (min-width: @tablet-width) {
      top: 45px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 86px;
  }
}

.products-more__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
    width: 1220px;
  }
}

.products-more__joint-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0 auto;
  }

  &::before {
    top: 23px;
  }
}

.products-more__title {
  display: inline-block;
  margin: 0 0 35px 20px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.products-more__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    border: 1px solid var(--basik-dark-grey);
    padding: 0;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    width: 895px;
    margin-right: 89px;
    margin-bottom: 0;
  }
}

.products-more__line-green {
  .fieldset-clear;
  .line-green;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
    top: 22px;
  }
}

.products-more__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--basik-dark-grey);
  padding: 13px 0 18px 1px;

  @media (min-width: @tablet-width) {
    padding: 16px 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 17px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &:last-child {
    border-bottom: 1px solid var(--basik-dark-grey);
  }
}

.products-more__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 650px;
    margin-right: 20px;
  }
}

.products-more__item-value {
  .table-string-end;
}

.products-more__item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--basik-neitral-black);
  margin: 0 0 13px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.products-more__item-table {
  font-family: @font-arial;
  font-weight: 400;
  line-height: 14px;
  color: var(--basik-grey);
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
    margin: 0;
  }
}

.products-more__item-button {
  padding: 10px 109px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 7px 91px;
  }
}
