.promo {
  color: var(--basik-white);
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 100%;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    height: 579px;
  }
}

.promo__slogan {
  background-color: var(--basik-transparent-green);
  padding: 27px 0 164px 0;
  margin-bottom: 138px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: var(--basik-white);
    margin-bottom: 630px;
    padding: 61px 0 0 87px;
  }

  @media (min-width: @desktop-width) {
    width: 45%;
    box-sizing: border-box;
    padding: 108px 0 0 80px;
  }
}

.promo__title {
  color: var(--basik-white);
  margin: 0 0 25px 0;

  @media (min-width: @tablet-width) {
    color: var(--basik-black);
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 40px 0;
  }
}

.promo__text {
  line-height: 14px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: var(--basik-black);
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  align-self: center;
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    top: 261px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 59.4%;
    top: 27px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  padding: 11px 44px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 62px;
    top: 291px;
    padding: 17px 26px;

    @media (min-width: @desktop-width) {
      top: 340px;
      left: 60px;
      padding: 17px 27px;
    }
  }
}
