.promo {
  background-image:
    url("../../img/promo-product.png"),
    linear-gradient(to bottom, var(--basik-transparent-green), var(--basik-transparent-green) 270px, var(--basik-white) 270px, var(--basik-white)),
    url("../../img/promo-cat.jpg");
  background-repeat: no-repeat;
  background-position: center 167px, center center, top center;
  background-size: 320px 302px, auto auto, 320px 270px;
  padding-top: 27px;
  color: var(--basik-white);
  text-align: center;
  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 25px;
  }
  &__text {
    line-height: 14px;
    margin-bottom: 302px;
  }
  &__button {
    padding: 7px 44px;
  }
}
