.promo-stock__wrapper {
  padding: 186px 0 43px 0;
  margin: 0 20px;
  background-color: var(--basik-transparent-green);
  background-image: url("../img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 50% 30px;
}

.promo-stock__text {
  color: var(--basik-white);
  font-family: @font-arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
