.slider__switch {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.slider__scale {
  margin: 0 50px;
}

.slider__button {
  font-family: @font-oswald-arial;
  border: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: var(--basik-special-grey);
    padding-top: 308px;
    padding-bottom: 64px;
  }

  .slider__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
  }

  .slider__image {
    width: 100%;
    height: 520px;
    position: absolute;
    top: -550px;
    right: 0;
  }

  .slider__button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted var(--basik-black);
  }

  .slider__scale {
    margin: 0 150px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 570px;
    background-color: inherit;
    padding-bottom: 0;
  }

  .slider__image {
    width: 100%;
    height: 520px;
    position: absolute;
    top: -430px;
    right: 120px;
    z-index: 2;
  }

  .slider__switch {
    margin: 100px 0 50px 0;
    z-index: 2;
  }
}
