.slider__switch {
  text-align: center;
}

.slider__button {
  border: none;
  background-color: var(--basik-special-grey);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
