.socials {
  background-color: var(--basik-light-grey);
  padding: 36px 0 22px 0;

  @media (min-width: @tablet-width) {
    padding: 52px 0 22px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 0 22px 0;
  }

  &--form {
    @media (min-width: @desktop-width) {
      padding: 55px 0 22px 0;
    }
  }
}

.socials__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    justify-content: space-between;
  }
}

.socials__text-logo {
  align-self: center;
  margin-bottom: 30px;
  width: 128px;
  height: 25px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    height: 24px;
    margin-right: 157px;
  }

  @media (min-width: @desktop-width) {
    margin: 1px 24px 0 0;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials__list {
  .clear-list;
  display: flex;
  align-items: center;
  padding: 21px 0 21px 73px;
  border-bottom: 1px solid var(--basik-medium-grey);
  border-top: 1px solid var(--basik-medium-grey);

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    margin-right: 134px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.socials__item {
  margin-right: 37px;

  @media (min-width: @tablet-width) {
    margin-right: 27px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__item-icon {
  display: block;

  &:hover {
    fill: var(--basik-green);
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--vk {
    width: 23px;
    height: 13px;

    @media (min-width: @tablet-width) {
      height: 17px;
      width: 29px;
    }
  }

  &--inst {
    height: 16px;
    width: 16px;

    @media (min-width: @tablet-width) {
      height: 23px;
      width: 23px;
    }
  }

  &--facebook {
    height: 20px;
    width: 13px;

    @media (min-width: @tablet-width) {
      height: 31px;
      width: 17px;
    }

    &:hover {
      stroke: var(--basik-green);
      fill: none;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--logo {
    width: 27px;
    height: 34px;
  }
}

.socials__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }
}

.socials__html-academy-link {
  font-family: @font-arial;
  font-size: 16px;
  line-height: 18px;
  color: var(--basik-grey);
  margin-top: 20px;

  &:active {
    opacity: 0.3;
  }
}

.socials__html-academy-logo {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }
}
