.socials {
  background-color: var(--basik-light-grey);
  padding: 39px 0 22px 0;
}

.socials__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.socials__text-logo {
  align-self: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.socials__list {
  .clear-list;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--basik-medium-grey);
  border-top: 1px solid var(--basik-medium-grey);

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.socials__item {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__item-link {
  display: block;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../img/icons/vk.svg");
    height: 13px;
    width: 23px;
  }

  &--inst {
    background-image: url("../img/icons/inst.svg");
    height: 16px;
    width: 16px;
  }

  &--facebook {
    background-image: url("../img/icons/facebook.svg");
    height: 20px;
    width: 13px;
  }
}

.socials__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }
}

.socials__html-academy-link {
  font-family: @font-arial;
  font-size: 16px;
  line-height: 18px;
  color: var(--basik-grey);
  margin-top: 28px;
}

.socials__html-academy-logo {
  background-image: url("../img/icons/html-academy.svg");
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 34px;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}
