.socials {
  background-color: var(--basik-light-grey);
  padding: 36px 0 22px 0;

  @media (min-width: @tablet-width) {
    padding: 47px 0 58px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 0 57px 0;
  }

  &--form {
    padding-top: 37px;

    @media (min-width: @tablet-width) {
      padding-top: 49px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 50px;
    }
  }

  &--catalog {
    padding-top: 37px;

    @media (min-width: @tablet-width) {
      padding-top: 48px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 50px;
    }
  }
}

.socials__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    justify-content: space-between;
  }
}

.socials__text-logo {
  margin-bottom: 28px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 6px 156px 0 0;
    height: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials__logo-link {
  align-self: center;
}

.socials__list {
  .clear-list;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0;
  border-bottom: 1px solid var(--basik-medium-grey);
  border-top: 1px solid var(--basik-medium-grey);

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    margin-right: 133px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.socials__item {
  margin-right: 37px;

  @media (min-width: @tablet-width) {
    margin-right: 27px;
  }

  &:last-child {
    margin-right: 10px;

    @media (min-width: @tablet-width) {
      margin-right: 0;
    }
  }
}

.socials__item-icon {
  display: block;
  fill: var(--basik-medium-dark);

  &--vk {
    @media (min-width: @tablet-width) {
      height: 18px;
      width: 29px;
    }
  }

  &--inst {
    @media (min-width: @tablet-width) {
      height: 23px;
      width: 23px;
    }
  }

  &--facebook {
    fill: none;
    stroke: var(--basik-medium-dark);

    @media (min-width: @tablet-width) {
      height: 29px;
      width: 20px;
    }
  }

  &--logo {
    width: 27px;
    height: 34px;
  }
}

.socials__link,
.socials__html-academy-logo {
  &:hover .socials__item-icon {
    fill: var(--basik-green);
  }

  &:active .socials__item-icon {
    opacity: 0.3;
  }

  &--facebook {
    &:hover .socials__item-icon {
      stroke: var(--basik-green);
      fill: none;
    }
  }
}

.socials__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: -1px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
  }

  & a {
    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      margin-top: 4px;
    }
  }
}

.socials__html-academy-link {
  font-family: @font-arial;
  font-size: 16px;
  line-height: 18px;
  color: var(--basik-grey);
  margin-top: 20px;

  &:active {
    opacity: 0.3;
  }
}

.socials__html-academy-logo {
  display: block;
  fill: var(--basik-medium-dark);
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 24px;
  }
}
